
@{
    ViewBag.Title = "_MainBanner";
}

<div class="owl-carousel owl-banner">
    <div class="item item-1">
        <div class="header-text">
            <span class="category">Toronto, <em>Canada</em></span>
            <h2>Hurry!<br>Get the Best Villa for you</h2>
        </div>
    </div>
    <div class="item item-2">
        <div class="header-text">
            <span class="category">Melbourne, <em>Australia</em></span>
            <h2>Be Quick!<br>Get the best villa in town</h2>
        </div>
    </div>
    <div class="item item-3">
        <div class="header-text">
            <span class="category">Miami, <em>South Florida</em></span>
            <h2>Act Now!<br>Get the highest level penthouse</h2>
        </div>
    </div>
</div>
