
@{
    ViewBag.Title = "Video";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="section-heading text-center">
                <h6>| Video View</h6>
                <h2>Get Closer View & Different Feeling</h2>
            </div>
        </div>
    </div>
</div>