
@{
    ViewBag.Title = "_VideoContent";
}

<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="video-frame">
                <img src="~/assets/images/video-frame.jpg" alt="">
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><i class="fa fa-play"></i></a>
            </div>
        </div>
    </div>
</div>
